.main-menu {
    background-color: #002;
    color: #ddd;
    display: grid;
    grid-template-areas: "logo new-game-options"
                         "presets presets";
    grid-template-columns: 1fr max-content;
}

.logo {
    grid-area: logo;
    margin: 5vw 5vh;
}

.new-game-options {
    margin: 5vw 5vh;
}

.presets {
    grid-area: presets;
}
